@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.959);
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Navbar style*/
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: black;
    /* font-family: 'montserrat',sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
span{
    color: red;
}