@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
  background: '';  
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Navbar style*/
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background: black; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: red;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: red;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: black;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: red;
}
.navbar.sticky .menu li a:hover{
    color: black;
}



/* Accueil style */
.home{
    display: flex;
    background-color: rgba(0, 0, 0, 0.959);
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 20px;
}
.home .home-content .text-2{
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 28px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
   color: red;
   font-weight: 500;
}
.home .home-content .sm a{
    display: inline-flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 20px;
    transition: 0.4s;
    border-radius: 50%;
}
.home .home-content .sm a:hover{
    transform: scale(1.1);
    background: red;
    color: white;
}